<section class="section hero">
  <div class="hero-inner">
    <div class="row">
      <div class="col-md-6 help-form">
        <div class="title">Welcome to Ionic Support</div>
        <div class="sub-title">What can we help you with?</div>
        <div class="hero-search">
          {{search submit=false instant=true class='search search-full'}}
        </div>
      </div>
      <div class="col-md-6 branding">
        <img src="{{asset 'support-hero-img.png'}}" />
      </div>
    </div>
  </div>
</section>

<section class="how-can-we-help">
  <hgroup>
    <h2>How can we help?</h2>
    <p>From account settings to permissions, find help for everything Ionic.</p>
  </hgroup>
  <ul class="container">
    <li>
      <a href="/hc/sections/360000955133-Getting-Started-"
         class="get-started">
        <h3>Getting Started</h3>
        <span>
          Welcome to Ionic Support. We’re glad you’re here! Let’s get started.
        </span>
      </a>
    </li>
    <li>
      <a href="/hc/categories/360000361813-Announcements"
         class="news-updates">
        <h3>News &amp; Updates</h3>
        <span>
          The latest and greates updates and announcements from Ionic.
        </span>
      </a>
    </li>
    <li>
      <a href="/hc/categories/360000410574-Billing-Support"
         class="account-billing">
        <h3>Account &amp; Billing</h3>
        <span>
          Modify your account settings and billing information with ease.
        </span>
      </a>
    </li>
    <li>
      <a href=""
         class="products">
        <h3>Products</h3>
        <span>
          From Package to Monitoring - Learn about all of Ionic’s Products.
        </span>
      </a>
    </li>
  </ul>
</section>

<ul class="category-list container">

  {{#each categories}}
    {{#isnt name ''}} <!-- if you need to hide sections -->
      <li class="category-list__category">
        <h2>
          <a href="{{url}}">{{name}}</a>
        </h2>

        <ul class="category-list__sections">
          {{#each sections}}
            <li class="category-list__section">
              <h3><a href="{{url}}">{{name}}</a></h3>
              <ul class="category-list__articles">
                {{#each articles}}
                  <li class="category-list__article">
                    <a href="{{url}}">
                      {{#if promoted}}
                        <i class="icon-star promoted-icon"></i>
                      {{/if}}
                      {{title}}
                    </a>
                  </li>
                {{/each}}
              </ul>
              {{#if more_articles}}
                <a href="{{url}}"
                   class="category-list__more">More&hellip;</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/isnt}}
  {{/each}}
</ul>

{{#if help_center.community_enabled}}
  <section class="section community">
    <h2>Support Forum</h2>
    {{#link 'community' class='community-link'}}
      {{t 'join_conversation'}}
    {{/link}}
  </section>
{{/if}}