<section class="section hero">
  <div class="hero-inner">
    <div class="row">
      <div class="col-md-6 help-form">
        <div class="title">Welcome to Ionic Support</div>
        <div class="sub-title">What can we help you with?</div>
        <div>
          {{search submit=false instant=true class='search search-full'}}
        </div>
      </div>
      <div class="col-md-6 branding">
        <img src="{{asset 'ionic-overlay.png'}}" />
      </div>
    </div>
  </div>
</section>

<div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">

      {{#each categories}}
      {{#isnt name ''}} <!-- if you need to hide sections -->
      <div class="panel panel-red">
        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#tab_{{id}}" id="headingOne">
          <h4 class="panel-title accordion-toggle">
            <a role=""
              {{#is name 'Getting Started with Ionic Pro'}}class="tutorials" data-img="{{asset 'video-tuts.png'}}"{{/is}}
              {{#is name 'Announcements'}}class="announcements" data-img="{{asset 'announcements.png'}}"{{/is}}
              {{#is name 'Billing & Support'}}class="billing" data-img="{{asset 'billing.png'}}"{{/is}}
              {{#is name 'Account Management'}}class="pro" data-img="{{asset 'pro.png'}}"{{/is}}
              {{#is name 'Deploy'}}class="deploy" data-img="{{asset 'deploy.png'}}"{{/is}}
              {{#is name 'Package'}}class="package" data-img="{{asset 'package.png'}}"{{/is}}
              {{#is name 'Monitoring'}}class="monitor" data-img="{{asset 'monitor.png'}}"{{/is}}
              {{#is name 'Snapshot Builds (Git)'}}class="builds" data-img="{{asset 'builds.png'}}"{{/is}}
              {{#is name 'Internal Knowledge Base'}}class="ikb" data-img="{{asset 'ikb.png'}}"{{/is}}
              ><h3> {{name}}</h3>
            </a>
          </h4>
        </div>

        <div id="tab_{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body accordion-list">
            <div class="row">
              {{#each sections}}
              <div class="col-lg-6">
              <section class="section">
                <a href="{{url}}">
                  <h3 class=home-section>{{name}}</h3></a>
                  <ul class="article-list promoted-articles">
                    {{#each articles}}
                    <li class="promoted-articles-item ">               
                      <a href="{{url}}">
                        {{#if promoted}}
                        <i class="icon-star" "promoted-icon"></i>
                        {{/if}}
                        {{title}}
                      </a>             
                    </li>
                    {{/each}}
                  </ul>
                {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles button-small" role="button">
                  {{t 'show_all_articles' count=article_count}}
                </a>
                {{/if}}
              </section>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      {{/isnt}}
      {{/each}}

  {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}
    </section>
  {{/if}}
</div>